* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

#admin button {
    display: block;
}

#admin input {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;
}

#admin > div {
    border-top: 1px solid #ccc;
    padding: 1em 0 2em 0;
}
