* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
}

#connections,
#time {
    background: rgba(0, 0, 0, 0.8);
    color: #ccc;
    font-size: 3em;
    padding: 0.5em 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
}

#time {
    bottom: 0;
}

#data {
    display: table;
    font-size: 4em;
    font-weight: bold;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 0;
}

#data > div {
    display: table-cell;
    padding: 2em 1em;
    vertical-align: middle;
    z-index: 1;
}

@media screen and (max-height: 320px) {
    body {
        font-size: 5px;
    }
    #connections,
    #time {
        padding: 0;
    }
    #data > div {
        padding: 1em;
    }
}
