* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: monospace;
    font-size: 12px;
}

#console button {
    display: block;
}

#console input {
    font-family: monospace;
    font-size: 1.5em;
    padding: 0.5em;
    width: 100%;
}

#console .command {
    border-bottom: 1px solid #ccc;
    font-size: 2em;
    padding: 1em 0;
}

#console .data {
    font-size: 0.75em;
}

#console .data.error {
    color: #f00;
}
