<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Strangeweb admin</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link rel="stylesheet" href="{{ static_url('admin.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ static_url('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('handlebars.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('ember.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('admin.js') }}"></script>
    <script type="text/javascript">
        Admin.version = "{{ state['version'] }}";
        Admin.restUrl = "{{ reverse_url('data') }}";
    </script>
    <script type="text/x-handlebars" data-template-name="application">
        <h1>
            Strangeweb admin
        </h1>
        <div>
            {{!outlet}}
        </div>
    </script>
    <script type="text/x-handlebars" data-template-name="index">
        <div id="admin">
            <div>
                <h2>
                    Show a message
                </h2>
                {{!input action="showMessage" disabled=isBusy value=data placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}}
                <button {{!action showMessage}} {{!bind-attr disabled=showMessageIsDisabled}}>Show message</button>
            </div>
            <div>
                <h2>
                    Clear the message
                </h2>
                <button {{!action clearMessage}}>Clear message</button>
            </div>
        </div>
    </script>
</head>
<body></body>
</html>
