<!DOCTYPE html>
<html manifest="{{ reverse_url('manifest') }}">
<head>
    <meta charset="utf-8" />
    <title>Strangeweb</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link rel="stylesheet" href="{{ static_url('app.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ static_url('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('handlebars.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('ember.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('app.js') }}"></script>
    <script type="text/javascript">
        App.version = "{{ state['version'] }}";
        App.eventsUrl = "{{ reverse_url('events') }}";
    </script>
    <script type="text/x-handlebars" data-template-name="application">
        <div>
            {{!outlet}}
        </div>
    </script>
    <script type="text/x-handlebars" data-template-name="index">
        <div id="connections">
            <div class="connections">
                {{!connections}}
            </div>
        </div>
        <div id="time">
            <div class="time">
                {{!formatDate time}}
            </div>
        </div>
        <div id="data" {{!bind-attr style=style}}>
            <div class="data">
                {{!data}}
            </div>
        </div>
    </script>
</head>
<body></body>
</html>
