<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Strangeweb console</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link rel="stylesheet" href="{{ static_url('console.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ static_url('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('handlebars.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('ember.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('console.js') }}"></script>
    <script type="text/javascript">
        Console.version = "{{ state['version'] }}";
        Console.socketUrl = "{{ reverse_url('console.socket') }}";
    </script>
    <script type="text/x-handlebars" data-template-name="application">
        <h1>
            Strangeweb console
        </h1>
        <div>
            {{!outlet}}
        </div>
    </script>
    <script type="text/x-handlebars" data-template-name="index">
        <div id="console">
            {{!input action="runCommand" disabled=inputIsDisabled value=commandText placeholder="command <arg> [<arg>]"}}
            <p class="help">
                {{ help }}
            </p>
            {{!#each}}
                <div class="command">
                    <div class="text">
                        {{!this.text}}
                    </div>
                    <div {{!bind-attr class=":data isError:error:out"}}>
                        <pre>{{!result}}</pre>
                    </div>
                </div>
            {{!/each}}
        </div>
    </script>
</head>
<body></body>
</html>
